//grid
$xs:  320px;
$md:  768px;
$xl:  1150px;

//accent colors
$accent-dark: #1467A4;
$accent: #0697D4;
$accent-light: #0697D4;
$text-color: #54617B;
$text-light: #fadce6;
$contrast: #c1bb63;
